/* css styles */

/* button */
.btn-primary {
    color: #fff;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
    padding: .375rem .75rem;
    font-size: 0.8rem !important;
    margin-top: -9px;
    margin-bottom: 5px;
    border-radius: 12px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1ABC9C;
  border-color: #1ABC9C;
  padding: .375rem .75rem;
  font-size: 0.8rem !important;
  margin-top: -9px;
  margin-bottom: 5px;
  border-radius: 12px;
}

.btn-secondary {
    color: #D6DBDF;
    background-color: #fff;
    border-color: #D6DBDF;
    padding: .375rem .75rem;
    font-size: 0.8rem !important;
    margin-top: -9px;
    margin-bottom: 5px;
    border-radius: 12px;
}

.btn-secondary:hover {
  color: #1ABC9C;
  background-color: #fff;
  border-color: #1ABC9C;
  padding: .375rem .75rem;
  font-size: 0.8rem !important;
  margin-top: -9px;
  margin-bottom: 5px;
  border-radius: 12px;
}
